html, body {
     min-height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  display: grid;
  justify-content: center;
  align-items: center;
}
.title{
  margin: 0em;
  padding-top: 2rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.2rem;
}
.details{
  margin-top: 0.1em;
  color: #0b161a;
  font-size: 7rem;
  margin-bottom: 0em;
  padding-bottom: 0rem;
}
.caption{
  font-size: 2rem;
  margin: 0em;
  padding: 0em;
  color:#494949;
}
.introduction{
  margin-top: 1rem;
  width: 46em;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}
.box{
  display: inline-grid;
  width: 50rem;
  padding-block: 1em;
  padding-inline: 1em;
}
.card{
  width: 45rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(73, 73, 73, 0.2);
/* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
}
.level{
  display: flex;
}
.city{
 color: #1d3e47;
 padding: 2%;
 margin-left: 3rem;
}
.description{
padding-left: 1rem;
padding-right: 1rem;
text-align: left;
width: 60%;
}
.img{
  width: 45rem;
}
Button{
  width: 20rem;
}